@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Main styles
   ========================================================================== */

body {
  font-family: "Open Sans";
  background-color: black;
  color: #777;
  padding: 20px 0;
}

header {
  text-align: center;
}

h1, h2 {
  text-align: center;
}

h2 {
  padding: 10px;
  border-bottom-width: 3px;
  border-bottom-color: #777;
  border-bottom-style: solid;
}

/* Classes
   ========================================================================== */

.drag {
  cursor: pointer;
  width: 140px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.border {
  border-width: 1px;
  border-color: #777;
  border-style: solid;

}

.small-rectangle {
  width: 100%;
  height: 200px;
}

.rectangle {
  width: 100%;
  height: 500px;
}

#mouse {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #777;
  box-shadow: 0px 0px 40px #777;

}